div {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: 900px;
}

h1 {
  font-size: 90px;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}

.dropdown-content li > a,
.dropdown-content li > span {
  text-align: center;
}

.yellow,
.yellow p,
.lime,
.lime p {
  color: black !important;
}

.purple,
.purple p,
.grey,
.grey p,
.brown,
.brown p,
.red,
.red p,
.blue,
.blue p {
  color: white !important;
}

#year,
#month,
#week {
  display: none;
}

.progress {
  display: none;
  margin: 0px;
  height: 6px;
  border-radius: 0px;
  position: fixed;
  top: 0;
}

.dateHeaders {
  height: 170px;
  padding: 30px 0;
}

.dateHeaders #yearNumber,
.dateHeaders #monthName,
.dateHeaders #weekNumber {
  font-size: 65px;
  text-shadow: 3px 3px 5px #aaaaaa;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition: .2s;
  cursor: pointer;
}

.dateHeaders #yearNumber:hover,
.dateHeaders #monthName:hover,
.dateHeaders #weekNumber:hover {
  text-shadow: 0px 0px 0px;
}

.dateHeaders #monthYearNumber {
  font-size: 25px;
}

.dateHeaders #weekNumber {
  cursor: default;
}

#yearChangeInputContainer {
  display: none;
  width: 50%;
  margin: 0 auto;
}

.next-prev-buttons {
  margin: 0px 20px 40px 20px;
}

#infoFeatureDiscoveryContainer {
  top: 25px;
  position: fixed;
}

#infoFeatureDiscoveryContainer a {
  margin-left: 25px;
}

#loginWindowButtonContainer {
  top: 90px;
  position: fixed;
}

#loginWindowButtonContainer a {
  margin-left: 25px;
}

#viewSelectContainer {
  width: 150px;
  right: 10px;
  top: 30px;
  position: fixed;
}

blockquote {
  position: fixed;
  left: 0px;
  top: 150px;
  border-left: 5px solid #f44336;
}

.switch {
  margin-top: 10px;
  display: none;
}

#blockYearSpan {
  font-size: .8rem;
  color: #9e9e9e;
}

#eventsContainer {
  padding-top: 20px;
  font-size: 20px;
}

#eventsContainer .events {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  overflow: auto;
  margin-top: 20px;
  padding: 10px 5px;
}

#eventsContainer .events span {
  display: block;
  width: 100%;
}

#eventsContainer .events span:nth-of-type(1) {
  text-align: left;
}

#eventsContainer .events span:nth-of-type(3) {
  text-align: right;
}

#eventsContainer .emptyEvent {
  border-radius: 5px;
  background-color: grey;
  color: white;
}

.adminElements {
  display: none;
}

#addEventButton {
  background-color: #0fb80f;
  margin: 30px auto 0 auto;
}

#editEventFinalButton {
  margin-top: 45px;
}

#initModal {
  width: 100%;
  max-height: 100%;
  height: 100%;
  background: linear-gradient(141deg, #01f3e3 0%, #03acbe 51%, #066e94 75%);
  top: 0 !important;
}

#initModal h1 {
  margin-bottom: 60px;
}

.buttonLoader {
  display: none;
}

#loginContainer {
  width: 30%;
  padding: 30px;
  margin: 30px auto 0 auto;
  border-radius: 5px;
  background-color: white;
  transition: .5s;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

#logoutButtonContainer {
  margin-top: 30px;
  display: none;
}

#rangeContainer {
  width: 90%;
  margin: 0 auto;
}

.colorSelectsContainers {
  width: 30%;
  margin: 50px auto 50px auto;
}

#addEventAdvicesContainer {
  margin-top: 60px;
}

#addEventAdvices {
  color: white;
  border-radius: 3px;
  padding: 5px;
  background-color: red;
}

.hoursSlider {
  display: flex;
  width: 101%;
  margin: 6px auto 0 auto;
}

.hoursSlider div {
  margin: 0 auto;
  font-size: 10px;
  width: 15px;
  height: 15px;
}

.hoursSlider div:nth-of-type(1) {
  margin-left: 0;
  text-align: left;
}

.hoursSlider div:nth-of-type(24) {
  margin-right: 0;
  text-align: right;
}

.remove-event-button-container {
  text-align: center !important;
}

.remove-event-button {
  margin-right: 5px;
}

.edit-event-button {
  margin-left: 5px;
}

.main-calendar {
  padding-bottom: 30px;
}

.row .col.custom7 {
  width: 14.28571%;
}

.month-container {
  margin: 30px auto;
  display: inline-block;
}

.month {
  width: 317px;
  height: 317px;
  padding: 10px;
  overflow: visible;
  transition: .2s;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 auto;
}

.days {
  cursor: pointer;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition: .2s;
  display: block;
  border-radius: 1px;
  width: 22px;
  height: 22px;
  -webkit-font-smoothing: antialiased;
}

.days:hover {
  transform: scale(3);
  background-color: gainsboro;
}

.week-row {
  cursor: pointer;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition: .2s;
  margin: 20px;
  border-radius: 2px;
}

.week-row:hover {
  transform: scale(1.3);
  background-color: gainsboro;
}

.dummy {
  width: 1%;
}

.week-days-container {
  margin: 0;
}

.week-days-container + .row.week-row {
  margin-top: 7px;
}

.row.week-row {
  margin: 20px 0;
}

.week-days {
  font-weight: 1000;
  font-size: 9px;
}

.month-name {
  margin-bottom: 10px;
  transition: .2s;
}

.disabledDays {
  color: #bebebe;
}

.flex-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.flex-item {
  width: 33.33%;
  text-align: center;
}

@media (max-width: 500px) {
  .flex-container {
    width: 100%;
  }
  #yearNumber {
    font-size: 55px;
  }
  .next-prev-buttons {
    margin: 0px 15px 35px 15px;
  }
}

@media (max-width: 600px) {
  .flex-item {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 919px) {
  .flex-item {
    width: 100%;
  }
}

@media (min-width: 920px) and (max-width: 1499px) {
  .flex-item {
    width: 50%;
  }
}

@media (min-width: 1500px) {
  .flex-item {
    width: 33.33%;
  }
}

.manualRowHover {
  transform: scale(1.3);
  background-color: gainsboro;
}

.presentDay {
  border-bottom: 3px solid teal;
}

.monthPresentDay {
  border-bottom: 6px solid teal;
}

.monthView-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 450;
}

.full-week-days {
  display: flex;
}

.full-week-days div {
  width: 100%;
  margin: 0 auto;
}

.month-week-row {
  display: flex;
  font-size: 40px;
  font-weight: 350;
  margin: 35px 0;
}

.month-week-row div {
  margin: 0 auto;
}

.month-previous-days,
.month-actual-days,
.month-next-days {
  width: 100%;
  margin: 0 auto;
}

.month-actual-days span {
  width: 60px;
  height: 60px;
  display: inline-block;
  transition: .2s;
  border-radius: 3px;
  cursor: pointer;
}

.month-actual-days span:hover {
  transform: scale(2.3);
  font-weight: 500;
}

.month-previous-days,
.month-next-days {
  color: #aaaaaa;
  font-weight: 340;
}

.month-week-row {
  cursor: pointer;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition: .2s;
  border-radius: 5px;
}

.month-week-row:hover {
  transform: scale(1.2);
  background-color: gainsboro;
}

.queriedEvent {
  background-color: teal;
  color: white;
}

.queriedEvent:hover {
  background-color: teal;
  color: white;
}

.monthQueriedEvent {
  background-color: teal;
  color: white;
  border-radius: 6px;
}

.monthQueriedEvent:hover {
  background-color: teal;
  color: white;
}

#eventsView {
  margin: 0 auto;
  display: none;
  padding: 30px 0;
}

#eventsView h2 {
  text-shadow: 3px 3px 5px #aaaaaa;
  margin-top: 0;
}

#eventsViewFlexContainer {
  width: 20%;
  margin: 0 auto;
  display: flex;
}

#toContainer {
  margin-left: 40px;
}

#fromContainer {
  margin-right: 40px;
}

#eventsViewAdvicesContainer {
  display: none;
  margin-top: 30px;
}

#eventsViewAdvices {
  color: white;
  border-radius: 3px;
  padding: 5px;
  background-color: red;
}

#events-not-found {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#events-not-found span {
  padding: 20px;
  background-color: #b8b8b8;
  width: 100%;
  text-align: center;
}

.yearDivider {
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
}

.yearDivider hr {
  width: 100%;
}

.yearDivider span {
  margin: -5px 10px 5px 10px;
  font-size: 18px;
}

.yearEventsContainer {
  display: block;
  width: 100%;
}

.eventsViewEvent {
  margin: 5px 0 20px 0;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.eventsViewEvent span {
  width: 100%;
  margin: 0 auto;
}

.eventsViewEvent span:nth-of-type(1) {
  text-align: left;
}

.eventsViewEvent span:nth-of-type(2) {
  text-align: right;
}

.eventsViewEventAdmin {
  margin: 5px 0 20px 0;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.eventsViewEventAdmin span {
  width: 100%;
  margin: 0 auto;
}

.eventsViewEventAdmin span:nth-of-type(1) {
  text-align: left;
}

.eventsViewEventAdmin span:nth-of-type(3) {
  text-align: right;
}

#bottomButtonContainer {
  bottom: 60px;
  right: 60px;
}

#resetYearButton {
  bottom: 120px;
  right: 32px;
}

.week-container {
  width: 95%;
  font-size: 50px;
  padding: 50px 0 0 0;
}

.fullWeekDays {
  font-size: 15px;
}

#daysModal {
  width: 90%;
}

#daysModal h4 {
  padding: 20px 0;
}

#daysModal .row {
  width: 100%;
  margin: 0;
  border-top: 1px solid #5c5c5c;
  border-collapse: collapse;
}

#daysModal .row:last-of-type {
  border-bottom: 1px solid #5c5c5c;
}

#daysModal .col.m11,
#daysModal .col.m1 {
  height: 80px;
}

#daysModal .col.m1 {
  text-align: center;
}

#hoursContainer .m11 {
  display: flex;
  padding: 0;
}

#hoursContainer .m11 div {
  width: 100%;
  height: 90%;
  margin: 5px;
  border-radius: 10px;
}

#hoursContainer .m11 div p {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 17px;
}

.hourQueriedEmpty {
  color: black;
  background-color: #e0e0e0;
  padding-left: 10px !important;
}

.days-on-week {
  text-shadow: 3px 3px 3px #aaaaaa;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition: .2s;
  cursor: pointer;
}

.days-on-week:hover {
  text-shadow: 0px 0px 0px;
}

.days-on-week-disabled {
  color: grey;
}

#monthModalContentContainer {
  width: 800px;
  margin: 0 auto;
}

.modal-week-row {
  font-size: 25px;
  margin: 0;
  padding: 15px 150px;
}

.modal-week-row:nth-of-type(1) {
  margin-top: 20px;
  padding-bottom: 0;
  font-weight: 900;
  font-size: 15px;
}

.modal-week-row:nth-last-of-type(1) {
  padding-bottom: 0;
}

.modalDisabledDays {
  color: #bebebe;
}

#daysModal2 {
  width: 40%;
  height: 50%;
}

#daysModal2 .modal-content {
  padding: 0;
}

#daysModal2 .card {
  width: 100%;
  margin: 0;
  min-height: 418.5px;
}

#roundedPreloader,
#viewFullDayButton {
  margin-top: 60px;
}

.page-footer {
  width: 80%;
  margin: 0 auto;
}

#roundedPreloader2 {
  position: fixed;
  left: 30px;
  bottom: 230px;
}

#about {
  text-align: right;
}

#aboutName {
  text-align: left;
}

.white-overwrite {
  color: white !important;
}
/*# sourceMappingURL=style.css.map */